h1 {
    text-align: center;
<<<<<<< HEAD
=======

>>>>>>> 8d91cdd0b262c1b6682116cd3848872314ff99ef
}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;


 {
    font-family: 'Oswald', sans-serif
}

.cyprian{
    align-items: center;
}